.note {
  border: 2px solid #3a1078;
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note:hover {
  transform: scale(1.03);
}

button:hover {
  transform: scale(1.05);
}

.note:nth-child(odd) {
  border-radius: 1rem 0;
  margin-right: auto;
}

.note:nth-child(even) {
  border-radius: 0 1rem;
  margin-left: auto;
  background-color: #3a1078;
  color: white;
}

.date {
  color: #c3c2c2;
  font-size: 0.9rem;
}

.active {
  border-radius: 5px;
  outline: none;
  background: rgba(0, 0, 0, 0.06);
}

.bg-color-purple {
  background-color: #3a1078;
}

.text-color-purple {
  color: #3a1078;
}
