.note {
  border: 2px solid rgb(147 197 253);
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.note:nth-child(odd) {
  border-radius: 1rem 0;
  margin-right: auto;
}

.note:nth-child(even) {
  border-radius: 0 1rem;
  margin-left: auto;
  background-color: rgb(147 197 253);
  /* color: white; */
}

.active {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
}
